In [1]:
'''
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''

# string 
name = 'Marmik' 

# List
full_name = ['Marmik', 'Rasadiya']   
  
# float
float_var = 0.0008  

# float list
float_var_list = [0.005, 1.0699, 5.026, 13587.125]

# tuple
name_tuple = ('Marmik', 7, 'Rasadiya')

In [2]:
'''
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
'''

'''
Ans . 2

var1 = ''  # string (empty)
var2 = '[DS, ML, Python]'   # String
var3 = ['DS', 'ML', 'Python'] # List
var4 = 1   # Integer
'''

"\nAns . 2\n\nvar1 = ''  # string (empty)\nvar2 = '[DS, ML, Python]'   # String\nvar3 = ['DS', 'ML', 'Python'] # List\nvar4 = 1   # Integer\n"

In [3]:
'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

'''
Ans.3
(i) --> Division operator
(ii) --> Mode operator 
(iii) --> division but it gives only integer output.
(iv) --> power operator
'''

'\nAns.3\n(i) --> Division operator\n(ii) --> Mode operator \n(iii) --> division but it gives only integer output.\n(iv) --> power operator\n'

In [4]:
'''
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''

# Ans 4
multi_data_type = ['Marmik', 12, 19.5, ['String', 0.05], ('Tuple', 12), {7 : 'Seven'}, {6, 7, 8}, 'String18', True, False, None]

for data in multi_data_type:
    print(data, type(data))

Marmik <class 'str'>
12 <class 'int'>
19.5 <class 'float'>
['String', 0.05] <class 'list'>
('Tuple', 12) <class 'tuple'>
{7: 'Seven'} <class 'dict'>
{8, 6, 7} <class 'set'>
String18 <class 'str'>
True <class 'bool'>
False <class 'bool'>
None <class 'NoneType'>

In [5]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

# Ans 5

import random
A = random.randint(2, 100000)
B = 2
i = 0
while A % B == 0:
    i += 1
    A = A / B
print(i)

1

In [7]:
'''
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''

# Ans 6
import numpy as np
int_list = np.random.choice(np.arange(100), size = 25, replace=False)

div_3 = [i for i in int_list if i % 3 == 0]
div_3

[24, 93, 12, 54, 33, 96, 0]

In [8]:

'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''

''' 
Ans . 7

Mutable data types : mutable data types allows changes. 
for ex, we can change the items in list with it's index number'
mutable = list, dict...
'''
lst = [6, 5, 7, 89, 34]
print(lst)
 
# change item
lst[3] = 56
print(lst)

'''
immutable data type : we can't change or mute the data. it'll be always the same. 
for ex tuple, set... 
'''

tupl = (3, 6,4 , 'nasskjf')
print(tupl)

# try to change tupl
try:
    tupl[3] = 'fsgh'
except Exception as e:
    print(e)
    
# the error will arise " 'tuple' object does not support item assignment ".

[6, 5, 7, 89, 34]
[6, 5, 7, 56, 34]
(3, 6, 4, 'nasskjf')
'tuple' object does not support item assignment