Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pds = pd.Series([4, 8, 15, 16, 23, 42])
pds

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
lst = [23, 5, 'Series', 'Marmik', True, False, 90, 67, 90.78, 0.007889]
pds = pd.Series(lst)
pds

0          23
1           5
2      Series
3      Marmik
4        True
5       False
6          90
7          67
8       90.78
9    0.007889
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
df = pd.DataFrame({'Name' : ['Alice','Bob','Claire'], 'Age' : [25,30,27],'Gender' : ['Female','Male','Female']})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a tabular representation of data. it is basically collection of pandas series. basically series is vector and dataframe is matrix. so collection of vectors makes matrix.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
df.loc[0]

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

In [6]:
df.iloc[0, 0]

'Alice'

In [7]:
df['Name'] + ' ' + df['Gender']

0     Alice Female
1         Bob Male
2    Claire Female
dtype: object

In [8]:
df['Age'].describe()

count     3.000000
mean     27.333333
std       2.516611
min      25.000000
25%      26.000000
50%      27.000000
75%      28.500000
max      30.000000
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Since Panel is deprecated, it's not relevant to discussions of mutability in pandas anymore. So, between Series and DataFrame, both are mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
df = pd.DataFrame({'First' : pd.Series(range(10)), 'Second' : pd.Series(range(10, 20)), 'Bool' : pd.Series([True, False] * 5)})
df

   First  Second   Bool
0      0      10   True
1      1      11  False
2      2      12   True
3      3      13  False
4      4      14   True
5      5      15  False
6      6      16   True
7      7      17  False
8      8      18   True
9      9      19  False