Q1. How do you comment code in Python? What are the different types of comments?

In [8]:
# there're two ways to comment : 
# one with putting hashtag "#" before any line. it's a single line comment.
''' second one is in the three quoted inverted comma.
and yeah, this type can be for the multi line comment.'''

' second one is in the three quoted inverted comma.\nand yeah, this type can be for the multi line comment.'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [7]:
''' A variable is essentially a name that represents a memory location where a value is stored. 
These values can be of different types, such as numbers, strings, lists, or more complex data structures.'''

# examples of variables
var = 5
var2 = 'String'
var3 = 5.399359968
var4 = [698, 'dgkdf', '9079uo56']

Q3. How do you convert one data type to another in Python?

In [6]:
''' We can convert data types... for ex, int to float. if we add float to int then the final value becomes float.'''
''' and we can use built in functions like,
int()
float()
str()
list()
dict()
set()
tuple()
'''

' and we can use built in functions like,\nint()\nfloat()\nstr()\nlist()\ndict()\nset()\ntuple()\n'

Q4. How do you write and execute a Python script from the command line?

In [5]:
''' python file has .py extension. we can simply just create .py file in text editor and running it on command prompt.
firstly locate file and then mention the interpreter following file name.'''

# for ex 

'''
C:\\Users\\Dell>cd downloads

C:\\Users\Dell\\Downloads>python file_name.py
'''

'\nC:\\Users\\Dell>cd downloads\n\nC:\\Users\\Dell\\Downloads>python file_name.py\n'

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [9]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [11]:
# In mathematics we can write a complex number as a + bi, where a & b are real numbers and i is imaginary number.

# write complex numbers in python

complex = 2 + 3j   # 2 & 3 are real numbers and j is imaginary number.
complex

(2+3j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [13]:
price = 9.99 # this belongs to float data types. we can check this by using type() method.
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [14]:
name = 'Marmik Rasadiya'
print(name) # in jupyter you don't need to use print() function. you can just write variable name and the vale of variable will appear.
name # like this.

Marmik Rasadiya

'Marmik Rasadiya'

Q10. Given the string "Hello, World!", extract the substring "World".

In [20]:
string = "Hello, World!"
word = string.split(', ')[1].split('!')[0]
word

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [21]:
is_student = True